.ipynb_checkpoints/Notebook-checkpoint.ipynb
.ipynb_checkpoints/Answers-checkpoint.ipynb
notebooks/.ipynb_checkpoints/
notebooks/__pycache__/evaluation_metrics.cpython-38.pyc
notebooks/__pycache__/evaluation_metrics.cpython-39.pyc
notebooks/__pycache__/our_som1.cpython-38.pyc
notebooks/__pycache__/our_som1.cpython-39.pyc
backups/.ipynb_checkpoints/evaluation_metrics-checkpoint.py
backups/.ipynb_checkpoints/our_som1-checkpoint.py
backups/.ipynb_checkpoints/SOM1A-checkpoint.ipynb
backups/.ipynb_checkpoints/som1A-checkpoint.py
backups/.ipynb_checkpoints/SOM1-checkpoint.ipynb
notebooks/.ipynb_checkpoints/SOM1A-checkpoint.ipynb
notebooks/.ipynb_checkpoints/SOM1-checkpoint.ipynb
notebooks/.ipynb_checkpoints/SOM2-checkpoint.ipynb
soms/.ipynb_checkpoints/our_som1-checkpoint.py
soms/.ipynb_checkpoints/our_som2-checkpoint.py
soms/.ipynb_checkpoints/som_utils-checkpoint.py
backups/__pycache__/evaluation_metrics.cpython-38.pyc
backups/__pycache__/evaluation_metrics.cpython-39.pyc
backups/__pycache__/our_som1.cpython-38.pyc
backups/__pycache__/our_som1.cpython-39.pyc
soms/__pycache__/our_som1.cpython-38.pyc
soms/__pycache__/som_utils.cpython-38.pyc
