.ipynb_checkpoints/Answers-checkpoint.ipynb
.ipynb_checkpoints/Notebook-checkpoint.ipynb
.ipynb_checkpoints/Questions-checkpoint.md
notebooks/.ipynb_checkpoints/SOM1A-checkpoint.ipynb
notebooks/.ipynb_checkpoints/SOM1-checkpoint.ipynb
notebooks/.ipynb_checkpoints/SOM2-checkpoint.ipynb
scripts/.ipynb_checkpoints/__init__-checkpoint.py
scripts/__pycache__/__init__.cpython-38.pyc
scripts/__pycache__/our_som1_A.cpython-38.pyc
scripts/__pycache__/our_som1_A.cpython-39.pyc
scripts/__pycache__/our_som1.cpython-38.pyc
scripts/__pycache__/our_som1.cpython-39.pyc
scripts/__pycache__/som_utils.cpython-38.pyc
scripts/__pycache__/som_utils.cpython-39.pyc
scripts/__pycache__/our_som1_B.cpython-38.pyc
scripts/__pycache__/our_som1_C.cpython-38.pyc
./*/*-checkpoint*
scripts/.ipynb_checkpoints/our_som1_A-checkpoint.py
scripts/.ipynb_checkpoints/our_som1_B-checkpoint.py
scripts/.ipynb_checkpoints/our_som1-checkpoint.py
scripts/.ipynb_checkpoints/our_som2-checkpoint.py
scripts/.ipynb_checkpoints/som_utils-checkpoint.py
scripts/.ipynb_checkpoints/our_som1_C-checkpoint.py
scripts/__pycache__/
scripts/.ipynb_checkpoints/


images/.ipynb_checkpoints/mexican_hat_2D-checkpoint.png
.ipynb_checkpoints/Notebook_Answers-checkpoint.ipynb
